@use '../../styles/abstracts' as *;

.buttonGroup {
  position: relative;
  display: flex;
  gap: $margin;
  flex-wrap: wrap;

  &.end {
    justify-content: flex-end;
  }

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }
}